extends ../layout/private

block title
  title メール文面の詳細｜技術ブログ管理システム

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='../') メール文面
        li.breadcrumb-item
          a(href='./' aria-current='page') 詳細

block main
  main
    .container
      h1 メール文面の詳細
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
          a.btn.btn-outline-primary(href='./edit/') 修正...
      section
        h2.mt-3 目次
        nav(aria-label='目次')
          ul.list-unstyled
            li
              a(href='#about') メール文面について

      section
        h2.pt-3.mt-3.border-top(id='about') メール文面について
        dl.mb-0
          dt タイトル
          dd #{emailTemplate.title}

          dt 差出人の名前
          dd #{emailTemplate.fromName}

          dt 差出人のメールアドレス
          dd #{emailTemplate.fromEmail}

          dt 宛先の名前
          dd #{emailTemplate.toName}

          dt 宛先のメールアドレス
          dd #{emailTemplate.toEmail}

          dt 件名
          dd #{emailTemplate.subject}

          dt 本文
          dd
            p.mb-0
              each line, i in emailTemplate.contentLines
                if i >= 1
                  br
                | #{line}
