extends ../layout/private

block title
  title 記事紐付けの詳細｜技術ブログ管理システム

block breadcrumb
  nav.mt-3.mb-3(aria-label='パンくずリスト')
    .container
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='../') 記事紐付け
        li.breadcrumb-item
          a(href='./' aria-current='page') 詳細

block main
  main
    .container
      h1 記事紐付けの詳細
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
          a.btn.btn-outline-primary(href='./edit/') 修正...
          a.btn.btn-outline-danger(href='./delete/') 削除...
      section
        h2.mt-3 目次
        nav(aria-label='目次')
          ul.list-unstyled
            li
              a(href='#about') 記事紐付けについて
      section
        h2.pt-3.mt-3.border-top(id='about') 記事紐付けについて
        dl.mb-0
          dt 表示順序
          dd #{articleArticle.sort}

          dt 紐付け元の記事
          dd
            a(href=`../../article/${articleFrom.id}/`) #{articleFrom.title}

          dt 紐付け先の記事
          dd.mb-0
            a(href=`../../article/${articleTo.id}/`) #{articleTo.title}
